*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Html,
body {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  font: inherit;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}
:root {
  --instablue: '';
  --instagrey: rgb(219, 219, 219);
}

.bg-insta-blue {
  background-color: #3578e5;
}
.color-insta-blue {
  color: #3578e5;
}
.insta-border {
  border: 1px solid var(--instagrey);
}
body::-webkit-scrollbar {
  display: none;
}
